.custom-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(209, 206, 206, 0.992);
    z-index: 1;
  }
  
  .custom-modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -20px;
  }
/*   
  .custom-modal-footer {
    display: flex;
    justify-content: flex-start;
   } */

  .btns{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-bottom: -5px;
  }

  .close-btn{
    background-color: rgb(142, 137, 137);
    border: 1px solid rgb(142, 137, 137);
    width : 100px;
    height: 40px;
    border-radius: 6px;
    color : white;
    margin: 5px
  }
  
  .save-btn{
    background-color:#007bff;
    border: 1px solid #007bff;   
    border-radius: 6px; 
    width : 100px;
    height: 40px;
    color : white;
    margin: 5px
  }
  

  